<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Begainning of CS - Status</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{current_user.head}}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/about/">{{current_user.name}}</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li><a href="{{url_for('home.home')}}"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{{url_for('home.ShowUserPage')}}"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="{{url_for('home.Status')}}"><i class="bx bx-book-content"></i> Status</a></li>
          <li><a href="{{url_for('home.problem')}}"><i class="bx bx-server"></i> Problem</a></li>
          <li class="active"><a href="{{url_for('home.problem_add')}}"><i class="bx bx-envelope"></i> Publish</a></li>
          <li><a href="{{url_for('user.UserLogout')}}"><i class="bx bx-user"></i> Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/home/">Home</a></li>
            <li>Publish</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="publish" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Publish</h2>
          <p>Add a new <strong>Problem</strong> here if you are an administor.</p>
        </div>

        <form action="/added_pro/" method="POST" enctype="multipart/form-data">
        <div style="width: 78%; 
        font-family:initial;
        background-color: rgb(230,230,235);
        border-radius: 3%;
        " >
        <div style="width: 80%; margin-left:5%; " data-aos="fade-up">
          <div style="font-size: 28px;">
            <br>
          <pre>Pro_name:     <input type = "text" name = "problem_name" /></pre>
          <pre>Time_limit:   <input type = "text" name = "time_limit" /></pre>
          <pre>Memory_limit: <input type = "text" name = "memory_limit" /></pre>
          <pre>Description:  </pre> <textarea type ="text" cols = "48" rows = "4" name = "description" ></textarea>
          </div>
          <pre style="font-size:16px;">sample_in:  <input type="file" name="sample_in" accept=".jpg,.png" /></pre>
          <pre style="font-size:16px;">sample_out: <input type="file" name="sample_out" accept=".jpg,.png" /></pre>
          <pre style="font-size:16px;">data_in:    <input type="file" name="data_in" accept=".txt" /></pre>
          <pre style="font-size:16px;">data_out:   <input type="file" name="date_out" accept=".txt" /></pre>
          <p><input type = "submit" value = "submit" /></p>
          <br>
        </div>
        </div>
        </form>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>CS of Tongji</span></strong>
      </div>
      <div class="credits">
        Designed by CS Group2
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
